
.container {
    display: flex;
    font-size: 17px!important;
    .active {
        background-color: #fff;
        border-radius: 50%;
        cursor: default;
        text-decoration: none;
        a {
        color: black!important;
        display: inline-block;
    }
    a:hover {
        background-color: unset;
    }
    .activeLink {
        border: 2px solid #e9ebed!important;
        padding: 7px 15px!important;
        border-radius: 50%;
    }
    .activeLink:focus {
        outline: none;
    }
    .activeLink:hover {
        background-color: none!important;
}
    }
    .pageLink {
        padding: 9px 17px!important;
        color: #0094DF!important;
    }
    .pageLink:hover {
        background-color: #e9ebed;
        border: 2px solid #e9ebed!important;
        border-radius: 50%;
        padding: 7px 15px!important;
    }
    .pageLink:active {
        outline: none!important;
    }
 li {
     margin: auto 5px;
 }
    .next_forward {
        display: block;
        margin: auto;
        padding: 0px 12px 0px 12px;
    }
    .next_forward a {
        color: #0094DF!important;
    }
    .next_forward a:focus {
        outline: none!important;
        
    }
    .disabled {
        a {
            color: #6b7886!important;
            background-color: transparent!important;
            border-color: transparent!important;
            cursor: not-allowed;
        }

    }
}
